
.mexican-header {
    background-color:#006847; /* Mexican green Red */
    color: #FFFFFF; /* White */
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #CE1126; /* Mexican red Green */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; /* Common font for readability */
}

main {
     padding: 14px 16px;
}

.mexican-header h1 {
    margin: 0;
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {

    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

nav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #006847;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 50px;
    display: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#top:hover {
    background-color: #555555;
    transform: translateY(-2px);
}

/* CSS de Cupones */

.cupones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Modificamos la justificación para alinear a la izquierda */
    padding: 20px;
    max-width: 1200px; /* Ajustamos el ancho máximo del contenedor */
    margin: 0 auto; /* Centramos el contenedor en la página */
}

.cupon {
    width: calc(25% - 40px); /* Reducimos un poco el ancho para compensar el espacio entre los cupones */
    margin-right: 20px; /* Agregamos un margen derecho */
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Añadimos un estilo para el último cupón en una fila */
.cupon:nth-child(4n) {
    margin-right: 0; /* Eliminamos el margen derecho para el último cupón en cada fila */
}

@media screen and (max-width: 992px) {
    .cupon {
        width: calc(33.33% - 30px); /* Ajustamos el ancho para pantallas más pequeñas */
    }
}

@media screen and (max-width: 768px) {
    .cupon {
        width: calc(50% - 20px); /* Ajustamos el ancho para pantallas aún más pequeñas */
    }
}

@media screen and (max-width: 576px) {
    .cupon {
        width: calc(100% - 20px); /* Ajustamos el ancho para dispositivos móviles */
    }
}

a {
    text-decoration: none;
      color: black;
    font-weight: bold;
}
